
 body, html{
  font-family: Lato, sans-serif;
  color: grey;

}

.row {
  display: flex;
  align-items: center;
  justify-content:center;
  flex-wrap: wrap;
  flex-direction:row;
}

.page-content {
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid teal;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: teal;
    color: white;
}


.main-title {
  margin-left: auto;
  text-align: right;
  text-transform: uppercase;
}

.main-title h1 {
  font-size: 58px;
  font-weight: 100;
  margin-bottom: 0;
}

.main-title h2 {
  font-size: 18px;
  font-weight: 300;
  margin-top: 0;
}

.main-header {
  align-items: center;
  border-bottom: 5px solid silver;
  margin-bottom: 30px;
  display: flex;
  width: 100%;
}
.logo {
  width:100px;
}

.hero-image {
  display: flex;
  align-content: center;
  justify-content: center;
}

.hero-image img {
  text-align: right;
  width:100%;
  display: flex;
}
.mystory {
  text-align: left;
  width:100%;
}
.phase1 {
  flex-direction:column;
  align-content: center;
  display:flex;
  text-align: center;
  height:auto;
  justify-content: center;
}
.phase1 a {
  display: flex;
  border-radius:5px;
  text-align: center;
  flex-direction: column;
}

h2 {
  font-size: 38px;
  font-weight: 300;
  color: #9e9e9e;
  margin: 30px 5px 10px 5px;
}

h3 {
  font-size: 36px;
  text-transform: uppercase;
  margin: 10px 0;
  color: #6e6e6e;
}
.contactlinks {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
}
 .contactlinks li {
  list-style: none;
  display: inline-block;
  justify-content: center;
  text-align: center;
  align-items: center;
}
@media only screen and (min-width:600px) {
  div.phase1,.topimage, .mystory {
    width:100%;
    flex: 33.33%;
    align-items: center;
  }
}
@media only screen and (min-width:800px) {
     div.phase1, .btn-info {
     justify-content: space-around;
   }
   .contactlinks li {
  text-align: center;
}
}
